#GridFieldUserColumnsDialog {
	width: auto !important;
	padding:20px;
}
#GridFieldUserColumnsDialog .ui-sortable {
	padding: 0;
}
#GridFieldUserColumnsDialog .ui-sortable li {
	list-style: none;
}

#GridFieldUserColumnsDialog h1 {
	font-size:1.5em;
	font-weight:bold;
	margin:1em 0;
}

#GridFieldUserColumnsDialog p small {
	font-size:1em;
	font-style:italic;
	margin:1em 0;
}

#GridFieldUserColumnsDialog li {
	font-size:1.2em;
	padding:.1em;
}

li.font-icon-drag-handle,
li.font-icon-drag-handle label {
	cursor: grab;
}
li.font-icon-drag-handle:active,
li.font-icon-drag-handle:active label {
	cursor: grabbing;
}
